.App {
  width: 100%;
  height: 100%;
}

.content { height: calc(100% - 52px); }

.left-col, .right-col,
.left-col > .panel, .right-col > .panel { height: 100%; }

.left-col > .panel {
  padding-left: 5px;
}

.panel {
  margin-bottom: 0px !important;
}
.panel-body {
  height: 100%;
  padding-top: 5px !important;
}

.chart-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  min-height: 500px;
  background-color: #fff;
}

.DateRangePicker {
  margin-bottom: 5px;
}

.DateInput {
  padding: 0px;
}

.DateRangePickerInput {
  border: 1px solid #ccc;
}
